@import "common";

#aboutUs-header {

  .header-title {
    margin-top: 5.8rem;
  }
  .button-change-destiny {
    display: inline-block;
    margin-top: 1rem;
  }
  .about-video {
    margin-top: 4.5rem;
  }
}
