@import "common";

#aboutUs {

  .aboutUs-title {
    margin-top: 5.8rem;
  }

  #aboutUs-header {
    .button-change-destiny {
      display: inline-block;
      margin-top: 1rem;
    }
    .about-video {
      margin-top: 4.5rem;
    }
  }

  #aboutUs-content {
    .aboutUs-describe {
      margin-top: 3.5rem;
      color: #575757;
      font-size: 2rem;
    }
  }

  #aboutUs-footer {
    background-color: #F8F9FB;
    margin-top: 50px;

    .aboutUs-event {
      padding-top: 50px;
    }

    .no-padding-right {
      padding-right: 0;
    }
    .time-line {
      margin-top: 71px;
      border-top: 2px solid #c2c2c2;
      position: relative;
    }

    .circle-year {
      position: absolute;
      top: -41px;

    }
    .circle {
      color: #B7B7B7;
      font-size: 12px;
      &:hover {
        color: @pink-color;
      }
    }
    .chevron {
      position: absolute;
      bottom: -79px;
      font-size: 18px;
    }
    .year {
      display: block;
      color: @pink-color;
      font-size: 22px;
    }

    .aboutUs-container {
      padding-bottom: 120px;
    }

  }
}

#aboutUs-years-events {
  border-left: 1px solid @pink-color;
  padding-left: 10px;
  width: 200px;
  font-size: 18px;
  .fist-event {
    padding-top: 63px;
  }
  .second-event {
    padding-top: 50px;
  }

}
