#breadcrumb {
  background-color: #F0F0F0;
  border-radius: 0;
  padding: 11px 0 13px 28px;
  margin: 0;

  li + li {
    &:before {
      position: relative;
      font-family: FontAwesome;
      font-size: 14px;
      content: "\f105";
      color: #B2B6BF;
      padding: 0;
      margin: 0 8px 0 0;
      top: 1px;
    }
  }
  li {
    margin: 0 4px;
  }
}
