@import "common";

#calendar {
  #calendar-header {

    .calendar-header {
      margin-top: 70px;
    }

    .icon-style {
      color: #F0F0F0;
    }
    .icon-left {
      margin-right: 50px;
    }
    .icon-right {
      margin-left: 50px;
    }

    .year-style {
      color: @pink-color;
      font-size: 5rem;
    }

  }

  #calendar-body {
    margin: 20px 0 120px 0;
    .weekday {

      .weekdays {
        background: #F0F0F0;
        font-size: 1.9rem;
        text-align: center;
      }
    }

    .CalendarDay {
      .day {
        display: inline-block;
        height: 55px;
        line-height: 55px;
        text-align: center;
        border: 1px solid white;
        font-size: 2rem;
        position: relative
      }
      .usualDay {
        background-color: #F0F0F0;
      }
      .eventDay {
        background-color: @pink-color;

      }
    }
  }

}
