@import "common";

#class-fields {
  margin-bottom: 17rem;
  .public-resource {
    p {
      font-size: 2rem;
    }
  }
  .search-box {
    margin: 2rem 0 2rem 0;
    .search-box-container {
      background-color: #D8D8D8;
      padding: 0.3rem 0 0.3rem 1.5rem;
      border-radius: 3rem;
      margin-bottom: 2rem;
      display: block;
      input {
        outline: none;
        width: 87%;
        border: none;
        background-color: #D8D8D8;
      }
      button {
        border: none;
        background-color: #D8D8D8;
        outline: none;
        border-radius: 2rem;
      }
    }
    .search-type {
      color: @pink-color;
      font-size: 2rem;
    }
  }
  .provide-and-question {
    .title {
      color: @pink-color;
      border-bottom: 1px #DBDBDB solid;
      margin-bottom: 2rem;
      font-size: 2rem;
    }
    .provided-types {
      button {
        border: 1px @pink-color solid;
        background-color: #FFFFFF;
        width: 100%;
        border-radius: 2rem;
        margin-bottom: 2rem;
        outline: none;
        font-size: 1.5rem;
      }
    }
  }
}
