@pink-color: #ec4c9a;
@black-color: #575757;
@title-font:48px;
@descibe-font:22px;


.no-padding {
  padding: 0;
}

.pink {
  color: @pink-color;
}

pre {
  border: 0;
  background: #3a383f;
  color: #d1d1d3;
}

/*--------------------------main-title-------------------------------------*/
.middle-text() {
  text-align: center;
}

.middle-title {
  color: @pink-color;
  font-size: @title-font;
  line-height: 56px;
  margin:0;
  margin-bottom: 20px;
  .middle-text();
}

.middle-describe {
  color: @black-color;
  font-size:@descibe-font;
  .middle-text();
}

/*--------------------------picture-max-------------------------------------*/
.picture-max {
  position: relative;
  marign: 0;
  padding: 0;
  width: 100%;
}

.picture-max img {
  width: 100%;
}

/*--------------------------what we do five icons-------------------------------------*/
.icon-container {
  text-align: center;
}

.job-icons {
  overflow: hidden;
  padding-left: 5em;
}

.job-icons-container {
  height: 120px;
  position: relative;
}

.job-icons img {
  vertical-align: middle;
  position: absolute;
  transform: translate3d(-50%, -50%, 0);
  top: 50%;
  left: 50%;
}
