@pink-color: #ec4c9a;
@black-color: #575757;
@title-font: 4.3rem;
@descibe-font: 2rem;
@screen-xs-min: 380px;
@screen-sm-min: 480px;
@screen-md-min: 768px;
@screen-lg-min: 1200px;

@media (min-width: @screen-xs-min) {
  html {
    font-size: 7px;
  }
}

@media (min-width: @screen-sm-min) {
  html {
    font-size: 8px;
  }
}

@media (min-width: @screen-md-min) {
  html {
    font-size: 9px;
  }
}

@media (min-width: @screen-lg-min) {
  html {
    font-size: 10px
  }
}

body {
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

.no-padding {
  padding: 0;
}

.no-margin {
  margin: 0;
}

.relative-positon {
  position: relative;
}

.pink {
  color: @pink-color;
}

pre {
  border: 0;
  background: #3a383f;
  color: #d1d1d3;
}

/*--------------------------main-title-------------------------------------*/
.middle-text() {
  text-align: center;
}

.middle-title {
  color: @pink-color;
  font-size: @title-font;
  line-height: 5.5rem;
  margin: 4rem 0 2rem 0;
  .middle-text();
}

.middle-describe {
  color: @black-color;
  font-size: @descibe-font;
  .middle-text();
}

/*--------------------------picture-max-------------------------------------*/
.picture-max {
  position: relative;
  marign: 0;
  padding: 0;
  height: 37rem;
}

/*--------------------------what we do five icons-------------------------------------*/
.icon-container {
  text-align: center;
}

.job-icons {
  overflow: hidden;
}

.job-icons-container {
  height: 15rem;
  position: relative;
  margin-bottom: 1.2rem;
}

.job-icons img {
  vertical-align: middle;
  position: absolute;
  transform: translate3d(-50%, -50%, 0);
  top: 50%;
  left: 50%;
}

/*--------------------------center-center-------------------------------------*/
.center-center() {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate3d(-50%, -50%, 0);
}

.button-style {
  width: 22.6rem;
  height: 5.2rem;
  color: #ffffff;
  background: @pink-color;
  border: 0;
  border-radius: .4rem;
  font-size: 2rem;
  line-height: 5.2rem;
}
/*--------------------------Video-------------------------------------*/
.video {
  text-align: center;
  background-color: #F0F0F0;
  overflow: hidden;
}

.video-content{
  height:39rem;
  width:100%;
}

img {
  max-width: 100%;
}
/*--------------------------modal-header-------------------------------------*/
.modal-header {
  border:none;
}

/*-----------------------news-event-content--------------------------*/
#news-event {
  margin-top: 2.5rem;
  .row-margin-bottom {
    margin-bottom: 4rem;
  }
  /*-----------------------events--------------------------*/
  #events {
    padding-bottom: 2rem;
    img {
      display: block;
      margin: 0 auto;
      //height: 100%;
    }
    .text {
      color: #575757;
      h3 {
        margin: 0;
        font-size: @descibe-font;
        line-height: 2.5rem;
        font-weight: 700;
        margin-bottom: 2rem;
      }
      p {
        font-size: @descibe-font;
        line-height: 2.8rem;
        margin: 0;
      }
    }
  }
  /*-----------------------dates--------------------------*/
  #date-list {
    h4 {
      margin: 0;
      font-size: 1.6rem;
    }
    .margin-bottom {
      margin-bottom: 3rem;
    }

    .box-border {
      display: inline-block;
      border: .1rem solid #d838a4;
      width: 3.6rem;
      height: 3.6rem;
      .num-box {
        text-align: center;
        margin: 0.1rem;
        color: #fff;
        background: @pink-color;
        font-size: 2.0rem;
        line-height: 3.2rem;
      }
    }
  }
}

