* {
    margin: 0;
    padding: 0;
}

body {
    /*width:1440px;*/
    margin: 0;
    padding: 0;
    color: #444;
    box-sizing: border-box;
    font: 14px/1 Helvetica Neue, Helvetica, Arial, Hiragino Sans GB, Microsoft YaHei, \\5FAE\8F6F\96C5\9ED1, WenQuanYi Micro Hei, sans-serif;
}

.donate-page-index {
    max-width: 1050px;
    margin: 0 auto;
}

/*---------------------------------------------------------------*/

.dobate-way {
    color: #575757;
}

.donate-way-title {
    text-align: center;
    color: #ec4c9a;
    font-size: 48px;
    line-height: 56px;
    margin-top: 57px;
    margin-bottom: 21px;
}

.donate-way-row {
    margin: 0 auto;
}

.donate-way-row .col-md-4 {
    width: 300px;
    height: 380px;
    border: 1px #bcbcbc solid;
    margin: 19px;
}
.donate-way-content{
    margin:0 auto;
}

.donate-way-content h3 {
    margin-top: 18px;
    color: #ec4c9a;
    text-align: center;
    font-size: 32px;
}

.donate-way-content ul {
    padding-left: 65px;
    margin-top: 56px;
    font-size: 22px;
    line-height: 30px;
}

.donate-way-content ul li {
    margin-top: 14px;
    width: 195px;
}

/*-----------------------------------------------------------------------------------*/

.donate-way-donation .row {
    width: 230px;
    /*margin:0 7px;*/
    margin: 0 auto;
}
.donate-way-donation h3 {
    margin-bottom: 18px;
}

.donate-way-donation img {
    width: 82px;
    height: 82px;
    background-color: #ccc;
    margin-top: 10px;
}

.donate-way-donation h4 {
    font-size: 18px;
    text-align: center;
}

/*----------------------------------------------*/
.donate-way-project p {
    margin-top: 31px;
    font-size: 22px;
    text-align: center;
}

.donate-way-project div {
    width: 82px;
    margin: 0 auto;
    margin-top: 50px;
}

.donate-way-project img {
    width: 80px;
    height: 82px;
    border: 1px solid #ccc;
}

.donate-way-project h4 {
    text-align: center;
}

/*----------------------------------------------*/
.donate-way-text {
    padding-top: 19px;
    font-size: 22px;
    line-height: 30px;
    width: 966px;
    margin: 0 auto;
}

/*----------------------------------------------*/
.item-donation img {
    display: block;
    width: 690px;
    height: 460px;
    margin: 0 auto;
    background-color: #ccc;
    margin-top: 36px;
}

.donate-guide h3 {
    font-size: 36px;
    color: #eB4b99;
    line-height: 32px;
    margin-top: 38px;
    margin-bottom: 35px;
    text-align: center;
}

.donate-guide-describe {
    width: 608px;
    margin: 0 auto;
    font-size: 22px;
    line-height: 30px;
    color: #575757;
}

/*--------------------------------------------*/
.donate-guide-collect,.donate-guide-apply {
    width:100%;
}
.donate-guide-apply{
    padding: 0;
}
.donate-guide-apply p{
    margin:0 auto;
}
.donate-guide-collect .row{
    margin: 0 19px;
}

.donate-guide-collect h3 {
    margin-bottom: 61px;
}

.donate-guide-collect h3, .donate-guide-apply h3 {
    font-size: 36px;
    line-height: 32px;
    color: #575757;
    margin-top: 35px;
    text-align: center;
}

.donate-guide-collect-item {
    width: 307px;
    height: 178px;
    margin: 9px 10px;
    background-color: #f8f9fb;
    color: #262626;
}

.donate-guide-collect-item h4 {
    font-size: 18px;
    line-height: 22px;
    color: #ec4c9a;
    margin-top: 9px;
}

.donate-guide-collect-item div {
    float: left;
    margin-bottom: -11px;
}

.donate-guide-collect-item span {
    float: left;
    line-height: 22px;
}

.donate-guide-collect-item p {
    float: right;
    overflow: hidden;
    margin-left: 6px;
    margin-right: -22px;
    font-size: 14px;
    line-height: 22px;
    width: 263px;
}

/*--------------------------------------*/
.donate-guide-apply h3 {
    margin-top: 79px;
}

.donate-guide-apply div {
    color: #575757;
    font-size: 22px;
    line-height: 30px;
    margin: 0 auto;
    margin-top: 34px
}

.donate-guide-apply button {
    display: block;
    margin: 0 auto;
    width: 290px;
    height: 52px;
    line-height: 52px;
    border-radius: 4px;
    background-color: #ec4c9a;
    font-size: 22px;
    color: #ffffff;
    margin-top: 45px;
}

/*------------------------------------------------------------------------------------------*/
.donating-projects h2 {
    margin-top: 76px;
    margin-bottom: 14px;
}
.donating-projects .container{
    width:100%;
    padding:0;
}
.donating-projects .row {
    margin:0 auto;
    /*padding:19px;*/
}

.donating-project {
    padding:0;
    width: 184px;
    margin: 34px 38px;
}

.donating-project img {
    width: 184px;
    height: 184px;
    background-color: #ccc;
    margin: 0 auto;
}

.donating-project h4 {
    font-size: 24px;
    line-height: 22px;
    color: #262626;
    margin-top: 18px;
}

.donating-project div {

    font-size: 22px;
    line-height: 30px;
    color: #575757;
    margin: 16px 0;
}

.donating-project a {
    color: #ec4c9a;
    font-size: 22px;
    margin-top: 9px;
}

/*-------------------------------------*/
.donating-project-paging {
    margin-top: 45px;
    margin-bottom: 121px;
    height: 35px;
    padding-right: 50px;
    padding-left: 40px;
}

.donating-project-paging ul {
    list-style: none;
}

.donating-project-paging-selected {
    background-color: #eB4b99 !important;
}

.donating-project-paging li {
    float: left;
    overflow: hidden;
    width: 40px;
    height: 35px;
    text-align: center;
    font-size: 14px;
    line-height: 35px;
    color: #4a4a4a;
    margin-right: 8px;
    background-color: #f8f9fb;
}

.donating-project-paging a {
    /*margin-right:0px;*/
    float: right;
    font-size: 22px;
    line-height: 35px;
    color: #ec4c9a;
}


.donate-guide-collect-item span img{
    width:12px;
    height:12px;
    background: none;
    margin-top:4px;
}

.donate-img{
    background: url("../images/donate/hero_donate.png");
    position: relative;
}
.donate-img-text{
    position: absolute;
    color:#fff;
    right:60px;
    bottom:60px;
    padding:0 10px;
}
/*------------------面包屑-----------------------------*/
.bread-crumbs{
    width:100%;
    height:38px;
    padding:0 70px;
    background-color:#f0f0f0;
    color:#262626;
    font-size: 14px;
    line-height:38px;
}
.bread-crumbs ul{
    list-style: none;
    overflow: hidden;
}
.bread-crumbs li{
    float: left;
    overflow: hidden;
}
