@import "common";

#donate-page-index {
  /*---------------------------donate-way------------------------------------*/
  .donate-way {
    color: @black-color;
  }

  .text-center {
    text-align: center;
  }

  .span {
    font-size: 1.8rem;
    text-align: center;
    display: block;
    margin: 1rem 0;
  }

  .img-center {
    display: block;
    margin: 0 auto;
  }

  .donate-way img {
    &:hover {
      cursor: pointer;
    }
  }

  .donate-way .no-hover {
    &:hover {
      cursor: default;
    }
  }

  .donate-way-title {
    text-align: center;
    color: @pink-color;
    font-size:@title-font;
    line-height: 5.6rem;
    margin-top: 5.7rem;
    margin-bottom: 2rem;
  }

  .things-donate li a {
    color: #444;
    text-decoration: none;
  }

  .donate {
    height: 38rem;
    border: 0.1rem #bcbcbc solid;
    cursor: pointer;
  }

  /*---------------------------donate-way-paypal-----------------------------------------*/
  .donate-way-elastic {
    .modal-dialog {
      margin: 0 auto;
      margin-top: 18rem;
      width: 20%;
    }

    .modal-header {
      padding: 0;
    }

    .modal-body {
      padding: 0;
      width: 60%;
      margin: 0 auto;
      margin-top: -1rem;
    }

    .btn {
      float: right;
      border: none;
    }
  }

  #donatethings {
    .donate-goods-item {
      color: @black-color;
    }
    & :hover {
      text-decoration: none;
    }
    margin: 0 auto;
    h3 {
      margin-top: 1.8rem;
      color: @pink-color;
      text-align: center;
      font-size: 3.2rem;
    }

    ul {

      margin-top: 5.6rem;
      font-size:@descibe-font;
      line-height: 3rem;
      li {
        margin-top: 1.4rem;
      }
    }
  }

  #donatemoney {
    .image-border {
      border: 0.1rem #bcbcbc solid;
    }
    h3 {
      margin-top: 1.8rem;
      color: @pink-color;
      text-align: center;
      font-size: 3.2rem;
    }
  }

  #donateProjects {
    .wechat-image {
      text-align: center;
    }
    h3 {
      margin-top: 1.8rem;
      color: @pink-color;
      text-align: center;
      font-size: 3.2rem;
    }
  }

  .donate-way-text {
    padding-top: 1.9rem;
    font-size:@descibe-font;
    line-height: 3rem;
    margin: 0 auto;
  }

  /*---------------------------donate-guide------------------------------------*/
  #item-donation {
    .donate-guide {
      .donate-guide-title{
        color: #EC4C9A;
      }
      .donate-guide-content {
        padding: 0;
        font-size: 1.8rem;
        p {
          margin: 0;
        }
      }
    }
    .donate-items-title {
      font-size: 3rem;
      line-height: 3.2rem;
      margin-top: 3.8rem;
      margin-bottom: 3.5rem;
      text-align: center;
    }
    .item-donation-img {
      display: block;
      width: 100%;
      background-color: #ccc;
      margin-top: 3.6rem;
    }
  }

  .donate-guide-apply {
    padding: 0;
    .apply-extra-info{
      font-size: 2rem;;
    }
  }
  .contact-content {
    background-color: #f8f9fb;
    padding: 4px;
    height: 135px;
    margin-bottom: 10px;
    .item-title{
      font-size: 1.7rem;
      color: #EC4C9A;
    }
    .content-icon{
      vertical-align: text-bottom;
      margin-right: 5px;
    }
    .contact-info{
      font-size: 1.1rem;
    }
  }
  .donate-guide-apply {
    h3 {
      margin-top: 8rem;
    }

    .margin-top-34 {
      color: @black-color;
      font-size: @descibe-font;
      line-height: 3rem;
      margin: 0 auto;
      margin-top: 3.4rem
    }

    .apply-button {
      display: block;
      margin: 0 auto;
      width: 29rem;
      height: 5.2rem;
      line-height: 5.2rem;
      border-radius: 0.4rem;
      background-color: @pink-color;
      font-size: 2rem;
      color: #ffffff;
      margin-top: 4.5rem;
    }
  }

  /*---------------------------donate-projects------------------------------------*/
  .donating-projects {
    h2 {
      margin-top: 7.6rem;
      margin-bottom: 1.4rem;
    }

    .container {
      width: 100%;
      padding: 0;
    }

    .row {
      margin: 0 auto;
    }
  }

  .donating-project {
    padding: 0;
    width: 18.4rem;
    margin: 3.4rem 3.8rem;
    position: relative;

    img {
      width: 18.4rem;
      height: 18.4rem;
      background-color: #ccc;
      margin: 0 auto;
    }

    h4 {
      font-size: @descibe-font;
      line-height: 2rem;
      color: #262626;
      margin-top: 1.8rem;
    }

    div {
      font-size: @descibe-font;
      line-height: 3rem;
      color: @black-color;
    }

    a {
      color: @pink-color;
      font-size: @descibe-font;
      margin-top: 0.9rem;
    }
  }

  /*---------------------------donate-project-paging------------------------------------*/
  .donating-project-paging {
    margin-top: 4.5rem;
    margin-bottom: 12rem;
    height: 3.5rem;
    padding-right: 5rem;
    padding-left: 4rem;

    ul {
      list-style: none;
    }

    li {
      float: left;
      overflow: hidden;
      width: 4rem;
      height: 3.5rem;
      text-align: center;
      font-size: 1.4rem;
      line-height: 3.5rem;
      color: #4a4a4a;
      margin-right: 0.8rem;
      background-color: #f8f9fb;
    }

    a {
      float: right;
      font-size: @descibe-font;
      line-height: 3.5rem;
      color: @pink-color;
    }
  }

  .donating-project-paging-selected {
    background-color: #eB4b99 !important;
  }

  /*---------------------------child-profile------------------------------------*/
  .child-profile {
    .center-center();
    top: 0;
    transform: translate3d(-50%, 0, 0);
    opacity: 0;
    width: 18.4rem;
    height: 18.4rem;

    p {
      .center-center();
      font-size: 1.4rem;
      line-height: 1.8rem;
      color: #fff;
      padding: 0 1.7rem;
      width: 100%;
    }

    &:hover {
      background-color: @pink-color;
      cursor: pointer;
      display: block;
      opacity: 0.5;

      p {
        opacity: 1;
        color: #fff;
      }
    }
  }

  /*---------------------------donate img------------------------------------*/
  .donate-guide-collect-item span img {
    width: 1.2rem;
    height: 1.2rem;
    background: none;
    margin-top: 0.4rem;
  }

  .donate-img {
    background: url("../images/donate/hero_donate.png");
    position: relative;
  }

  .donate-img-text {
    position: absolute;
    color: #fff;
    right: 6rem;
    bottom: 6rem;
    padding: 0 1rem;
  }

  /*---------------------------leukemia-assistance-modal-denate-money------------------------------------*/
  .donate-money {
    .modal-dialog {
      margin: 4rem auto 0;
      width: 40%;
    }

    .modal-header {
      padding-bottom: 0;
    }

    .modal-body {
      padding-top: 0;
      margin-top: -2rem;
    }
  }
}

