@import "common";

#donate-page-index {
  /*---------------------------donate-way------------------------------------*/
  .donate-way {
    color: @black-color;
  }

  .text-center {
    text-align: center;
  }

  .span {
    font-size: 18px;
    text-align: center;
    display: block;
    margin: 10px 0;
  }

  .img-center {
    display: block;
    margin: 0 auto;
  }

  .donate-way img {
    &:hover {
      cursor: pointer;
    }
  }

  .donate-way .no-hover {
    &:hover {
      cursor: default;
    }
  }

  .donate-way-title {
    text-align: center;
    color: @pink-color;
    font-size: 48px;
    line-height: 56px;
    margin-top: 57px;
    margin-bottom: 21px;
  }

  .donate-way-row {
    margin: 0 auto;
  }

  .things-donate {
    cursor: pointer;
  }

  .things-donate li a {
    color: #444;
    text-decoration: none;
  }

  .donate-way-row .col-xs-4 {
    width: 300px;
    height: 380px;
    border: 1px #bcbcbc solid;
    margin: 19px;
  }

  .donate-way-content {
    margin: 0 auto;
    h3 {
      margin-top: 18px;
      color: @pink-color;
      text-align: center;
      font-size: 32px;
    }

    ul {
      padding-left: 65px;
      margin-top: 56px;
      font-size: 22px;
      line-height: 30px;
      li {
        margin-top: 14px;
        width: 195px;
      }
    }
  }

  /*---------------------------donate-way-paypal-----------------------------------------*/
  .donate-way-elastic {
    .modal-dialog {
      margin: 0 auto;
      margin-top: 180px;
      width: 20%;
    }

    .modal-header {
      padding: 0;
    }

    .modal-body {
      padding: 0;
      width: 60%;
      margin: 0 auto;
      margin-top: -10px;
    }

    .btn {
      float: right;
      border: none;
    }
  }

  /*---------------------------donate-way-donation------------------------------------*/
  .donate-way-donation {
    .row {
      width: 230px;
      margin: 0 auto;
    }

    h3 {
      margin-bottom: 18px;
    }

    .col-xs-6 {
      img {
        width: 82px;
        height: 82px;
        background-color: #ccc;
        margin-top: 10px;
        border: 1px solid #ccc;
      }

      .no-border {
        border: none;
      }
    }
  }

  /*---------------------------donate-way-project------------------------------------*/
  .donate-way-project {
    p {
      margin-top: 31px;
      font-size: 22px;
      text-align: center;
    }

    img {
      width: 80px;
      height: 82px;
      border: 1px solid #ccc;
      display: block;
      margin: 0 auto;
      margin-top: 50px;
    }
  }

  /*---------------------------donate-way-text------------------------------------*/
  .donate-way-text {
    padding-top: 19px;
    font-size: 22px;
    line-height: 30px;
    width: 966px;
    margin: 0 auto;
  }

  /*---------------------------donate-guide------------------------------------*/
  .item-donation-img {
    display: block;
    width: 690px;
    height: 460px;
    margin: 0 auto;
    background-color: #ccc;
    margin-top: 36px;
  }

  .donate-guide h3 {
    font-size: 36px;
    color: #eB4b99;
    line-height: 32px;
    margin-top: 38px;
    margin-bottom: 35px;
    text-align: center;
  }

  #donate-guide-title {
    color: #EB4B99;
    text-decoration: none;
  }

  .donate-guide-describe {
    width: 608px;
    margin: 0 auto;
    font-size: 22px;
    line-height: 30px;
    color: @black-color;
  }

  .donate-guide-collect, .donate-guide-apply {
    width: 100%;
  }

  .donate-guide-apply {
    padding: 0;
    p {
      margin: 0 auto;
    }
  }

  .donate-guide-collect {
    .row {
      margin: 0 19px;
    }

    h3 {
      margin-bottom: 61px;
    }
  }

  .donate-guide-collect h3, .donate-guide-apply h3 {
    font-size: 36px;
    line-height: 32px;
    color: @black-color;
    margin-top: 35px;
    text-align: center;
  }

  .donate-guide-collect-item {
    width: 307px;
    height: 178px;
    margin: 9px 10px;
    background-color: #f8f9fb;
    color: #262626;

    h4 {
      font-size: 18px;
      line-height: 22px;
      color: @pink-color;
      margin-top: 9px;
    }

    div {
      float: left;
      margin-bottom: -11px;
    }

    span {
      float: left;
      line-height: 22px;
    }

    p {
      float: right;
      overflow: hidden;
      margin-left: 6px;
      margin-right: -22px;
      font-size: 14px;
      line-height: 22px;
      width: 263px;
    }
  }

  .donate-guide-apply {
    h3 {
      margin-top: 79px;
    }

    .margin-top-34 {
      color: @black-color;
      font-size: 22px;
      line-height: 30px;
      margin: 0 auto;
      margin-top: 34px
    }

    .apply-button {
      display: block;
      margin: 0 auto;
      width: 290px;
      height: 52px;
      line-height: 52px;
      border-radius: 4px;
      background-color: @pink-color;
      font-size: 22px;
      color: #ffffff;
      margin-top: 45px;
    }
  }

  /*---------------------------donate-projects------------------------------------*/
  .donating-projects {
    h2 {
      margin-top: 76px;
      margin-bottom: 14px;
    }

    .container {
      width: 100%;
      padding: 0;
    }

    .row {
      margin: 0 auto;
    }
  }

  .donating-project {
    padding: 0;
    width: 184px;
    margin: 34px 38px;
    position: relative;

    img {
      width: 184px;
      height: 184px;
      background-color: #ccc;
      margin: 0 auto;
    }

    h4 {
      font-size: 24px;
      line-height: 22px;
      color: #262626;
      margin-top: 18px;
    }

    div {
      font-size: 22px;
      line-height: 30px;
      color: @black-color;
    }

    a {
      color: @pink-color;
      font-size: 22px;
      margin-top: 9px;
    }
  }

  /*---------------------------donate-project-paging------------------------------------*/
  .donating-project-paging {
    margin-top: 45px;
    margin-bottom: 121px;
    height: 35px;
    padding-right: 50px;
    padding-left: 40px;

    ul {
      list-style: none;
    }

    li {
      float: left;
      overflow: hidden;
      width: 40px;
      height: 35px;
      text-align: center;
      font-size: 14px;
      line-height: 35px;
      color: #4a4a4a;
      margin-right: 8px;
      background-color: #f8f9fb;
    }

    a {
      float: right;
      font-size: 22px;
      line-height: 35px;
      color: @pink-color;
    }
  }

  .donating-project-paging-selected {
    background-color: #eB4b99 !important;
  }

  /*---------------------------child-profile------------------------------------*/
  .child-profile {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    width: 184px;
    height: 184px;

    p {
      transform: translate3d(0, -50%, 0);
      position: absolute;
      top: 50%;
      font-size: 14px;
      line-height: 18px;
      color: #fff;
      padding: 0 17px;
    }

    &:hover {
      background-color: @pink-color;
      cursor: pointer;
      display: block;
      opacity: 0.5;

      p {
        opacity: 1;
        color: #fff;
      }
    }
  }

  /*---------------------------donate img------------------------------------*/
  .donate-guide-collect-item span img {
    width: 12px;
    height: 12px;
    background: none;
    margin-top: 4px;
  }

  .donate-img {
    background: url("../images/donate/hero_donate.png");
    position: relative;
  }

  .donate-img-text {
    position: absolute;
    color: #fff;
    right: 60px;
    bottom: 60px;
    padding: 0 10px;
  }

  /*---------------------------leukemia-assistance-modal-denate-money------------------------------------*/
  .donate-money {
    .modal-dialog {
      margin: 40px auto 0;
      width: 40%;
    }

    .modal-header {
      padding-bottom: 0;
    }

    .modal-body {
      padding-top: 0;
      margin-top: -20px;
    }
  }
}

