.footer {
    font-family: Microsoft YaHei;
    background-color: #3A383F;
    width: 100%;
    padding: 35px 75px;
}

.footer .row {
    width: 100%;
    margin: 0 15px;
}

.icon-img {
    display: inline-block;
    margin-left: 20px;
}

.footer {
    font-family: Microsoft YaHei;
    background-color: #3A383F;
    width: 100%;
    padding: 35px 75px;
}

.footer-list {
    font-size: 12px;
    line-height: 16px;
}

.footer-list div {
    overflow: hidden;
}

.footer-list img {
    margin-top: 5px;
    float: left;
}

.footer-list p {
    float: left;
    margin-left: 8px;
    margin-bottom: 0px;
}

.footer-right-right {
    padding-right: 50px;
}

.footer-left-right {
    font-size: 22px;
    color: #fff;
}

.red-text {
    color: #EB4B99;
    font-size: 18px;
}

.red-text:hover {
    cursor: pointer;
}

.follow-icon {
    display: inline-block;
}

.footer-right-left {
    font-size: 18px;
    text-decoration: underline;
    color: #fff;
    line-height: 24px;
}

.footer-right-left:hover {
    color: white;
}

.icon-img img {
    display: inline-block;
    width: 88px;
    height: 88px;
}

.icon-img p {
    text-align: center;
    font-size: 14px;
    color: #fff;
    line-height: 21px;
}

.footer-right-bottom {
    text-align: left;
    color: #fff;
}

.roundabout-info {
    font-size: 12px;
    line-height: 16px;
    color: #ffffff;
}

.footer-top-two {
    padding-left: 45px;
}

.footer-top-four {
    padding-left: 30px;
}

.footer-head-text {
    margin-top: -10px;
}


.footBottom-info{
    color:white;
}

.footBottom-info:hover{
    color: #EB4B99;
    text-decoration: none;
}
