//@import "common";

#footer {
  font-family: Microsoft YaHei;
  background-color: #3A383F;
  width: 100%;
  padding: 3.3rem 1rem 0 4.5rem;

  .footer-item {
    margin-bottom: 3rem;
  }

  .red-text {
    color: #EB4B99;
    font-size: 1.7rem;
  }

  .red-text:hover {
    cursor: pointer;
  }

  /*-------------------------------------footer-top-col-one------------------------------------------*/
  .roundabout-info {
    font-size: 1.2rem;
    line-height: 1.6rem;
    color: #ffffff;
  }

  .footer-list {
    font-size: 1.2rem;
    line-height: 1.6rem;
  }

  .footer-list div {
    overflow: hidden;
  }

  .footer-list img {
    margin-top: .5rem;
    float: left;
  }

  .footer-list p {
    float: left;
    margin-left: .8rem;
    margin-bottom: 0;
  }

  .email-text {
    color: #bc4580;
    font-size: 1.4rem;
  }

  .follow-icon {
    display: inline-block;
  }
  .information-theme {
    font-size: 2rem;
    color: #fff;
    margin-left: 1.3rem;
  }

  /*-------------------------------------footer-top-col-two------------------------------------------*/
  .col-two-text {
    font-size: 2rem;
    color: #fff;
  }

  /*-------------------------------------footer-top-col-three------------------------------------------*/
  .col-three-text {
    font-size: 1.8rem;
    text-decoration: underline;
    color: #fff;
    line-height: 2.4rem;
  }

  .col-three-text:hover {
    color: @pink-color;
  }

  /*-------------------------------------footer-top-col-four------------------------------------------*/
  .icon-imgs {
    .icon-img {
      display: inline-block;
      margin-right: 2.0rem;
    }
    :last-child {
      margin-right: 0;
    }
  }

  .icon-img img {
    display: inline-block;
    width: 8.8rem;
    height: 8.8rem;
  }

  .icon-img p {
    text-align: center;
    font-size: 1.4rem;
    color: #fff;
    line-height: 2.1rem;
  }

  /*-------------------------------------footer-bottom------------------------------------------*/
  .footer-bottom-text {
    text-align: left;
    color: #fff;
    font-size: 1.4rem;
  }

  .footBottom-info {
    color: white;
  }

  .footBottom-info:hover {
    color: #EB4B99;
    text-decoration: none;
  }
}

#apply-monthly-report {
  height: 18rem;
  width: 100%;
  background-size: cover;
  background: #e8e8e8;
  text-align: center;
  outline: none;

  img {
    display: inline-block;
    margin-top: 1.5rem;
  }

  .apply-monthly-report-text {
    font-size: 2.1rem;
    color: #6b6868;
  }

  .input-email {
    border: .1rem solid #c9c1c1;
    outline: none;
    border-radius: 2.0rem;
    width: 34rem;
    height: 3rem;
    padding-left: 1.9rem;
    font-size: 1.6rem;
    display: inline-block;
    margin-top: 2.7rem;
  }

  .submit {
    width: 9.5rem;
    height: 3rem;
    -webkit-appearance: none;
    border: .1rem solid #eb67a7;
    border-radius: 2.0rem;
    background: transparent;
    color: #eb67a7;
    font-size: 1.6rem;
    margin-left: 1.6rem;
  }
}

