@import "common";

#get-involved {
  .get-involved-welcome {
    color: @pink-color;
    margin: 0 auto;
    max-width: 70%;
    h2 {
      margin-bottom: 80px;
    }
    a {
      font-size: 22px;
      line-height: 32px;
      float: left;
      overflow: hidden;
      margin-left: 24px;
      margin-top: 39px;
      color: @pink-color;

      &:hover, &:focus {
        text-decoration: none;
      }
    }
    .row {
      margin: 60px auto;
      padding: 0 30px;
    }

    img {
      float: left;
      width: 105px;
      height: 111px;
    }
  }

  .get-involved-second-col {
    padding-left: 105px;
  }
}
