@import "common";

#get-involved {
  .get-involved-welcome {
    color: @pink-color;
    margin: 0 auto;
    max-width: 70%;
    h2 {
      margin-bottom: 8.0rem;
    }
    a {
      font-size: 2.2rem;
      line-height: 3.2rem;
      float: left;
      overflow: hidden;
      margin-left: 2.4rem;
      margin-top: 3.9rem;
      color: @pink-color;

      &:hover, &:focus {
        text-decoration: none;
      }
    }
    .row {
      margin: 6.0rem auto;
      padding: 0 3.0rem;
    }

    img {
      float: left;
      width: 10.5rem;
      height: 11.1rem;
    }
  }

  .get-involved-second-col {
    padding-left: 10.5rem;
  }
}
