* {
    margin: 0;
    padding: 0;
}

body {
    width:1440px;
    margin: 0;
    padding: 0;
    color: #444;
    box-sizing: border-box;
    font: 14px/1 Helvetica Neue, Helvetica, Arial, Hiragino Sans GB, Microsoft YaHei, \\5FAE\8F6F\96C5\9ED1, WenQuanYi Micro Hei, sans-serif;
}
.get-involved-welcome{
    color:#ec4c9a;
    margin:0 auto;
    max-width:70%;
}
.get-involved-welcome h2{
    margin-bottom:80px;

}
.get-involved-welcome h4{
    font-size:22px;
    line-height:32px;
    float:left;
    overflow: hidden;
    margin-left:24px;
}
.get-involved-welcome .row{
    margin:60px auto ;
    padding:0 30px;
}

.get-involved-welcome img{
    float:left;
    width:105px;
    height: 111px;
}
.get-involved-second-col{
    padding-left:105px;
}
.get-involved-welcome{
    padding-bottom: 90px;
}
