.get-involved-welcome {
    color: #ec4c9a;
    margin: 0 auto;
    max-width: 70%;
}

.get-involved-welcome h2 {
    margin-bottom: 80px;

}

.get-involved-welcome a {
    font-size: 22px;
    line-height: 32px;
    float: left;
    overflow: hidden;
    margin-left: 24px;
    margin-top: 39px;
    color: #EC4C9A;
}

.get-involved-welcome a:hover {
    cursor: pointer;
    text-decoration: none;
}

.get-involved-welcome a:focus {
    cursor: pointer;
    text-decoration: none;
}

.get-involved-welcome .row {
    margin: 60px auto;
    padding: 0 30px;
}

.get-involved-welcome img {
    float: left;
    width: 105px;
    height: 111px;
}

.get-involved-second-col {
    padding-left: 105px;
}

