.no-padding {
    padding: 0;
}

.right-topinfo {
    margin-top: 28px;
    padding-left: 30px;
}

.top-right-word {
    margin: 0 5px 0 5px;
    color: #8a7676;
}

.top-left-icon {
    margin: 0 15px 0 0;
}
