@import "common";

#home {
  /*--------------------------home-picture-max-text-------------------------------------*/
  .home-text {
    font-size: 48px;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    color: #fff;
    z-index: 2;
    position: absolute;
    top: 45%;
    vertical-align: middle;
  }
  .we-ra {
    margin-top: 57px;
    margin-bottom: 60px;
  }

  .e-work-icon p {
    width: 100%;
  }

  .ourwork-know-more {
    text-align: center;
    font-size: 22px;
    margin-top: 80px;
  }

  .know-more-text {
    color: @pink-color;
  }

  .know-more-text:hover {
    color: @pink-color;
    text-decoration: none;
  }

  .ourwork-item {
    margin-top: 57px;
    margin-bottom: 90px;
  }


}






