@import "common";

#home {
  /*--------------------------home-picture-max-text-------------------------------------*/
  .home-text {
    font-size: 48px;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    color: #fff;
    z-index: 2;
    position: absolute;
    top: 45%;
    vertical-align: middle;
  }

  .ourwork-know-more {
    text-align: center;
    font-size: 22px;
    margin-top: 80px;
  }

  .know-more-text {
    color: @pink-color;
    &:hover {
      color: @pink-color;
      text-decoration: none;
    }
  }

  .ourwork-item {
    margin-top: 57px;
    margin-bottom: 90px;
  }
}

/*-----------------video--------------------------------*/


#video{
  .we-are-ra{
    margin-top: 56px;
    margin-bottom: 35px;
  }
  .video{
    text-align: center;
    background-color:#F0F0F0;
    margin-top: 61px;
  }
}

