body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font: 14px/1 Helvetica Neue, Helvetica, Arial, Hiragino Sans GB, Microsoft YaHei, \\5FAE\8F6F\96C5\9ED1, WenQuanYi Micro Hei, sans-serif;
}

.top-right-items {
    top: 25px;
    font-size: 12px;
    color: #8a7676;
    float: right;
    margin-right: 1.5em;
    height: 18px;
    line-height: 18px;
}

.top-right-items img{
   width: 25px;
}

.items ol {
    margin-left: -18px;
}

.items i {
    position: relative;
    top: -6px;
    left: 8px;
    margin-left: 10px;
}

.items a {
    color: #8a7676;
    text-decoration: none;
    margin-right: 13px;
}

.items img {
    position: relative;
    right: -8%;
    margin: 0 10px;
}

.no-padding {
    padding: 0;
}

/*.taobao {*/
    /*width: 25px;*/
/*}*/

.logo {
    margin: 16px 0 17px 31px;
    width: 60px;
    height: 70px;
    padding: 0;
}

.padding {
    padding: 0 0 0 31px;
}

.dropdown {
    list-style: none;
    display: inline-block;
    margin-right: 36px;
    padding: 0 0 12px 0;
    font-size: 22px;
    font-family: STHeitiSC-Light;
}

.dropdown a {
    color: #414141;
    text-decoration: none;
    padding: 2px 8px 2px 8px;
}

.menu :last-child {
    margin-right: 0;
}

.header {
    border-bottom: solid 4px #EB4B99;
}

.no-padding {
    padding: 0;
}

.footer {
    font-family: Microsoft YaHei;
    background-color: #3A383F;
    padding: 32px 30px 37px 75px;
}

.footer-list {
    font-size: 12px;
    line-height: 16px;
}

.footer-list div {
    overflow: hidden;
}

.footer-list img {
    margin-top: 5px;
    float: left;
}

.footer-list p {
    float: left;
    margin-left: 8px;
    margin-bottom: 0px;
}

.footer-right-right {
    padding-right: 50px;
}

.footer-left-right {
    font-size: 22px;
    color: #fff;
}

.footer .col-xs-5 {
    padding: 0px;
}

.footer .col-md-6 {
    padding: 0;
}

.red-text {
    color: #EB4B99;
    font-size: 18px;
    font-family: AvenirNext-Regular;
}

.follow-icon {
    display: inline-block;
}

.footer-right-left {
    font-size: 18px;
    text-decoration: underline;
    color: #fff;
    line-height: 24px;
}

.icon-img {
    display: inline-block;
    margin-right: 20px;
}

.icon-img img {
    display: inline-block;
    width: 88px;
    height: 88px;
}

.icon-img p {
    text-align: center;
    font-size: 14px;
    color: #fff;
    line-height: 21px;
}

.footer-right-bottom {
    text-align: left;
    margin-top: 80px;
    color: #fff;
}

.roundabout-info {
    font-size: 12px;
    line-height: 16px;
    color: #ffffff;
}

.middle-image {
    position: relative;
    display: inline-block;
    /*background-image: url("../images/middle-image.png");*/
    background-color: #ccc;
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    width: 100%;
}

select {
    position: relative;
    -webkit-appearance: none;
    border: 0;
    outline: none;
    height: 22px;
    width: 14%;
    left: -2%;
    direction: rtl;
    background: url("http://ourjs.github.io/static/2015/arrow.png") no-repeat scroll right center transparent;
    font-size: 23px;
    color: #736f6e;
    margin: 12px 10px 12px -26px;
    padding-right: 20px;
    cursor: pointer;
}

/*.search {*/
/*position: relative;*/
/*right: 18px;*/
/*float: right;*/
/*width: 15%;*/
/*text-align: center;*/
/*vertical-align: middle;*/
/*margin: 12px 0;*/
/*display: inline;*/
/*}*/
.search {
    width: 146px;
    border-radius: 100px;
    background-color: #D8D8D8;
    border: none;
    height: 22px;
    padding: 0 8px 0 8px;
}

.search input {
    width: 103px !important;
    border-radius: 100px;
    background-color: #D8D8D8;
    border: none;
    height: 22px;
    padding: 0 8px 0 10px;
    font-size: 12px;
    color: #535353;
}

.search input:focus {
    outline: none;
    border-color: #cfdc00;
    box-shadow: 0 0 5px rgba(207, 220, 0, 0.4);
    border-radius: 100px;
}

.search button{
    border: none;
    background-color: inherit;
}

.search button:focus{
    outline: none;
}

.search img {
    width: 14px;
    height: 14px;
}

.middle-text {
    text-align: center;
    padding: 3%;
}

.middle-text p {
    color: #ed4cb5;
    font-weight: lighter;
    font-size: 48px;
    margin: 0 0 2% 0;
}

.middle-text span {
    font-size: 22px;
    color: #575757;
}

.show-video {
    text-align: center;
    top: 120px;
    width: 100%;
    background-size: cover;
    background: #e8e8e8;
}

.job-icons {
    overflow: hidden;
    padding-left: 5em;
}

.job-icons img {
    vertical-align: middle;
    position: absolute;
    transform: translate3d(-50%, -50%, 0);
    top: 50%;
    left: 50%;
}

.job-icons p {
    font-size: 1.5em;
    color: #575757;
    white-space: nowrap;
    margin-top: 15px;
    margin-bottom: 0;
}

.e-work-icon p {
    width: 100%;
}

.ourwork-know-more {
    text-align: center;
    font-size: 22px;
    margin-top: 80px;
}
.know-more-text{
    color: #ec4c9a;
}

.know-more-text:hover{
    color: #ec4c9a;
    text-decoration: none;
}

.icon-container {
    text-align: center;
}


.job-icons-container {
    height: 120px;
    position: relative;
}

.apply-monthly-report {
    position: relative;
    margin-top: 8%;
    height: 200px;
    width: 100%;
    background-size: cover;
    background: #e8e8e8;
    text-align: center;
}

.apply-monthly-report img {
    position: relative;
    top: 18.5px;
}

.apply-monthly-report-text {
    font-size: 25px;
    color: #6b6868;
    padding: 24px 0;
}

.input-email {
    border: 1px solid #c9c1c1;
    outline: none;
    border-radius: 20px;
    width: 400px;
    height: 33px;
    padding-left: 19px;
    /*margin-bottom: 151px;*/
    font-size: 19px;
}

.submit {
    width: 108px;
    height: 33px;
    -webkit-appearance: none;
    border: 2px solid #eb67a7;
    border-radius: 20px;
    background: transparent;
    color: #eb67a7;
    font-size: 19px;
    margin-left: 14px;
}

/*.footer {*/
/*width: 100%;*/
/*height: 280px;*/
/*background: #3a383f;*/
/*}*/

.information-tips-left {
    position: relative;
    float: left;
    width: 34%;
    left: 6%;
    text-align: left;
}

.information-tips-left div {
    position: relative;
    font-size: 22px;
    letter-spacing: 2px;
    top: 20px;
}

/*.footer-theme span {*/
/*position: relative;*/
/*top: 8px;*/
/*left: -5px;*/
/*}*/

.information-theme {
    font-size: 22px;
    color: #fff;
    margin-left: 13px;
}

.introduction-text {
    border: 0;
    font-size: 12px;
    background: #3a383f;
    color: #d1d1d3;
}

.introduction-text span {
    position: relative;
    margin: 5px;
    display: inline-block;
    width: 430px;
    height: 50px;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.5px;
    word-spacing: -1px;
    text-align: left;
}

.introduction-text i {
    position: relative;
    font-size: 13px;
    word-spacing: 2px;
}

.email-text {
    color: #bc4580;
    font-size: 14px;
}

pre {
    border: 0;
    background: #3a383f;
    color: #d1d1d3;
}

.information-tips-center {
    position: relative;
    top: 10%;
    width: 60%;
    height: 50%;
    letter-spacing: -2px;
    left: 7%;
}

.information-tips-center span {
    position: relative;
    font-size: 25px;
    color: #d1d1d3;
    margin-top: 10px;
    text-align: left;

}

.information-tips-center a {
    text-decoration: none;
    font-size: 20px;
    color: #bc4580;
}

div.enquiry {
    position: relative;
    margin-top: 30px;
}

a.break-line {
    display: block;;
}

a.news-text {
    position: relative;
    left: 10%;
    width: 10%;
    text-align: left;
    color: #d1d1d3;
    padding-bottom: 2px;
    border-bottom: 1px solid #d1d1d3;
}

.information-tips-right {
    position: relative;
    float: right;
    width: 24%;
    top: -35%;
}

.information-tips-right img {
    display: inline;
    margin-right: 5%;
}

.QRcode-text {
    position: relative;
    font-size: 14px;
    color: #d1d1d3;
    top: 8px;
    left: 8%;
}

span.WeChat-text {
    margin: 0 25%;
}

.foot-annotation {
    position: relative;
    top: 100px;
}

/*--------------页面上方最大的图片样式----------------_*/
.picture-max {
    position: relative;
    marign: 0;
    padding: 0;
    width: 100%;
}

.picture-max img {
    width: 100%;
}

.home-text {
    font-size: 48px;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    color: #fff;
    z-index: 2;
    position: absolute;
    top: 45%;
    vertical-align: middle;
}


