/*legal*/
#legal {
  width: 90%;
  margin: 0 auto;
  .legal-title {
    font-size: 4.0rem;
    color: #74298e;
  }

  .legal-content {
    margin-bottom: 2.5rem;
  }

  .li-item {
    margin-bottom: .5rem;
  }

  /*privacyPolicy*/
  .item-sections {
    margin-bottom: 3.0rem;
  }

  .item-title {
    font-weight: 700;
  }
}
