#media-report{
  .ra-in-media{
    .media-data-content{
      margin:5rem 0 5rem 0;
      .meida-item{
        margin-bottom: 3.5rem;
      }
      .media-img {
        border: 1px solid #e1e1e1;
        margin-bottom: 3rem;
      }
      .media-words {
        font-size: 1.8rem;
        text-align: center;
        .media-title {
          font-size: 2rem;
        }
        p {
          line-height: 2.5rem;
          height: 7.5rem;
        }
      }
    }
  }

}
