.modal-dialog {
    margin-right: 37%;
}

.modal-header {
    border-bottom: 0;
}

.title {
    font-size: 120%;
    color: #3A383F;
}

.info {
    margin-bottom: 29px;
}

.info-right {
    text-align: right;
}

.modal-Volunteer-content {
    width: 150%;
}

.pink {
    color: #EB4B99;
}

.text-length {
    width: 321%;
}

.textArea-volunteerForm {
    resize: none
}

.input-info {
    height: 25px;
    line-height: 25px;
}

.btn-Cancel {
    background-color: lightgrey;
    color: white;
    width: 250%;
    border-radius: 4px;
}

.btn-Submit  {
    background-color: #EB4B99;
    color: white;
    width: 250%;
    border-radius: 4px;
}

.modal-footer {
    border-top: 0;
}
