.modal-dialog {
    margin-right: 37%;
}

.modal-header {
    border-bottom: 0;
}

.title {
    font-size: 120%;
    color: #3A383F;
}

.info {
    margin-bottom: 29px;
}
.image-close{
    cursor: pointer;
}

.info-right {
    text-align: right;
}

.modal-Volunteer-content {
    width: 150%;
}

.pink {
    color: #EB4B99;
}

.text-length {
    width: 321%;
}

.textArea-volunteerForm {
    resize: none
}

.input-info {
    height: 25px;
    line-height: 25px;
}

.btn-Cancel {
    background-color: lightgrey;
    color: white;
    width: 250%;
    border-radius: 4px;
}

.btn-Submit {
    background-color: #EB4B99;
    color: white;
    width: 250%;
    border-radius: 4px;
}

.modal-footer {
    border-top: 0;
}

/*--------------------donate-things-rules----------------*/
.donate-things-rules {
    width: 570px;
}
.donate-things-rules .modal-dialog{
    margin-right:0;
}

.donate-things-rules h2 {
    font-size: 36px;
    color: #EB4B99;

}

.donate-things-rules .modal-content {
    padding-left: 40px;
}

.donate-things-rules ul {
    list-style: none;
    font-size: 22px;
    line-height: 30px;
}

.donate-things-rules .modal-header {
    position: relative;
}

.donate-things-rules .modal-body {
    width: 86%;
    padding-top: 0;
}

.donate-things-rules .btn {
    width: 30px;
    height: 30px;
    padding: 0;
    position: absolute;
    right: 20px;
    top: 20px;
    border:none;
}

.close-btn {
    width: 28px;
    height: 28px;
}

/*-----------------------Donation apply form------------------------------*/
.overlay{
    margin: 0 !important;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.5);
    z-index:100;
}
.donation-apply-form{
    padding:0 65px;
    display: none;
    margin: 0 auto;
    margin-top:10%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 85%;
    height: 3000px;
    background: #fff;
    z-index: 101;
}
.donation-apply-form .row{
    padding:0;
}
.donation-apply-form .content div{
    margin-top:0;
}
.donation-apply-form .content .row{
    margin-top:20px;
}
.donation-apply-form .content input{
    width:96%;
}
.donation-apply-form .con
.donation-apply-form p{
    font-size: 18px;
    line-height: 25px;
}

.apply-form-header button{
    border: none;
    background: none;
    position: absolute;
    top: 20px;
    right: 20px;
}
.apply-form-header h2{
    margin-top:40px;
}
.apply-form-header .header-right{
    position: absolute;
    right: 80px;
    top: 40px;
}
.donation-apply-form .input-name-text{
    font-size: 20px;
    font-weight: 500;
}

.input-name-text .name-input{
    display: inline-block;
    margin-left:25px;
}
.checkboxes .checkbox-item{
    display: inline-block;
    margin-right:80px;
}
.call-language .checkboxes {
    margin-bottom:40px;
    margin-top:20px;
}
.call-language .container{
    width: inherit;
    padding: 0;
    margin:0;
}
.call-language .container .row{
    margin:0;
    margin-top:20px;
}
.call-language .row .col{
    margin:0 !important;
}
.call-language .container input{
    width:100%;
}
.donation-apply-form .bottom-notes h3,.donation-apply-form .call-language h3,.donation-apply-form .content h3{
    font-size: 25px;
    font-weight: 600;
    text-align: left;
    margin-top:30px;
}
.bottom-notes ul{
    list-style: none;
}
.bottom-notes li{
    margin-top:5px;
}
.apply-form-button button{
    margin-right:80px;
    width:100%;
    background-color: #f0f0f0;
}
.apply-form-button{
    margin-top:0;
}
.apply-form-button button:hover{
    background-color: #ec4c9a;
    color:#fff;
}

/*------------------------------------------------------------------------*/
