
#modal-Volunteer-content {
  margin-bottom: 30px;

  .modal-content {
    width: 150%;
  }
  .modal-dialog {
    margin-right: 37%;
  }

  .modal-header {
    border-bottom: 0;
  }

  .title {
    font-size: 120%;
    color: #3A383F;
  }

  .image-close {
    cursor: pointer;
  }

  .text-length {
    width: 327%;
  }

  .textArea-volunteerForm {
    resize: none
  }

  .btn-Cancel {
    background-color: lightgrey;
    color: white;
    width: 250%;
    border-radius: 4px;
  }

  .btn-Submit {
    background-color: #EB4B99;
    color: white;
    width: 250%;
    border-radius: 4px;
  }

  .info-right {
    text-align: right;
  }

  .input-info {
    height: 25px;
    line-height: 25px;
  }
}

/*--------------------donate-things-rules----------------*/
#donate-things-rules {
  .donate-things-rules h2 {
    font-size: 36px;
    color: #EB4B99;

  }

  .donate-things-rules .modal-content {
    padding-left: 40px;
    color: #575757;
  }

  .donate-things-rules ul {
    list-style: none;
    font-size: 22px;
    line-height: 30px;
    padding: 0;
  }

  .donate-things-rules .modal-header {
    position: relative;
  }

  .donate-things-rules .modal-body {
    width: 86%;
    padding-top: 0;
    margin: 0;
  }

  .donate-things-rules .btn {
    width: 30px;
    height: 30px;
    padding: 0;
    position: absolute;
    right: 20px;
    top: 20px;
    border: none;
  }

  .close-btn {
    width: 28px;
    height: 28px;
  }

  .modal-dialog {
    width: 570px;
    margin-right: 0;
  }

}

/*-----------------------Donation apply form------------------------------*/
.overlay {
  margin: 0 !important;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 100;
}

#donation-apply-form{
  .modal-body {
    padding-top: 0;
  }

  .modal-content {
    margin-top: 0;
    padding: 0 30px;
  }

  .no-margin-top {
    margin-top: 0;
  }

  .modal-dialog {
    width: 70%;
    margin: 0 auto;
    height: 550px;
    overflow: scroll;
  }

  .modal {
    margin-top: 60px;
  }

  .applyform-btn {
    position: fixed;
    top: 40px;
    right: 20px;
  }

  .content .row {
    margin-top: 15px;
  }

  .content input {
    width: 100%;
    height: 25px;
  }

  p {
    line-height: 16px;
  }

  .apply-form-header {
    margin: 0;
  }

  .input-name-text {
    font-size: 16px;
    font-weight: 500;
    margin-top: 20px;
  }

  .apply-form-header button {
    border: none;
    background: none;
    position: absolute;
    top: 20px;
    right: 20px;
  }

  .apply-form-header .header-right {
    position: absolute;
    right: 80px;
    top: 40px;
  }

  .input-name-text .name-input {
    display: inline-block;
    margin-left: 25px;
  }

  .checkboxes .checkbox-item {
    display: inline-block;
    margin-right: 80px;
  }

  .call-language .checkboxes {
    margin-bottom: 30px;
    margin-top: 20px;
  }

  .call-language .container {
    width: inherit;
    padding: 0;
    margin: 0;
  }

  .call-language .container .row {
    margin: 0;
    margin-top: 20px;
  }

  .call-language .container input {
    width: 100%;
  }

  .apply-form-header h3 {
    font-size: 20px;
    margin: 0;
    text-align: left;
  }

  .donation-apply-form .bottom-notes h3, .donation-apply-form .call-language h3, .donation-apply-form .content h3 {
    font-size: 16px;
    font-weight: 600;
    text-align: left;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .bottom-notes ul {
    list-style: none;
    line-height: 16px;
    padding: 0;
  }

  .bottom-notes li {
    margin-top: 5px;

  }

  .apply-form-button button {
    margin-right: 80px;
    width: 100%;
    background-color: #f0f0f0;
  }

  .donation-apply-form .apply-form-button {
    margin-top: 20px;
    margin-bottom: 80px;
  }

  .apply-form-button button:hover {
    background-color: #ec4c9a;
    color: #fff;
  }

  .donation-apply-form .call-language-checkbox {
    margin-right: 10px;
  }

  .apply-form-things-add .no-padding {
    padding-right: 20px;
  }
}
