@import 'common';

@media (max-width: @screen-md-min) {
  #news_event {
    .no-display {
      display: none;
    }
    #events {
      img {
        //height: 60%;
      }
    }
  }
}

#news_event {
  .news-event-title {
    margin-top: 1rem;
  }
  .row {
    margin: 0 -15px;
  }
  /*-----------------------news_event_category--------------------------*/
  .news_event_category {
    text-align: center;
    color: #262626;
    font-size: 1.7rem;
    line-height: 3rem;
    margin-bottom: 4.5rem;
    margin-top: 2.6rem;
    button {
      width: 100%;
      height: 3rem;
      border: .1rem solid #e1409d;
      border-radius: 10.0rem;
      background-color: #fff;
      outline: none;
    }
    input {
      border-radius: 10.0rem;
      background-color: #d8d8d8;
      height: 3rem;
      color: #535353;
      font-size: 1.6rem;
      outline: none;
      padding-left: 1rem;
      border: 1px solid #a8a8a8;
    }
  }
  /*-----------------------date-event-switch--------------------------*/
  .news-event-switch {
    font-size: 1.8rem;
    border-bottom: 1px solid #ccc;
    margin: 0;
    span {
      color: #a8a8a8;
      display: inline-block;
      text-align: right;
      line-height: 4.0rem;
    }
    .choosed {
      color: #ec4c9a;
    }
  }
  /*-----------------------news-event-content--------------------------*/
  .news-event {
    margin-top: 2.5rem;
    .row-margin-bottom {
      margin-bottom: 4rem;
    }
  }
  /*-----------------------events--------------------------*/
  #events {
    padding-bottom: 2rem;
    img {
      display: block;
      margin: 0 auto;
      //height: 100%;
    }
    .text {
      color: #575757;
      h3 {
        margin: 0;
        font-size: @descibe-font;
        line-height: 2.5rem;
        font-weight: 700;
        margin-bottom: 2rem;
      }
      p {
        font-size: @descibe-font;
        line-height: 2.8rem;
        margin: 0;
      }
    }
  }
  /*-----------------------dates--------------------------*/
  #date-list {
    h4 {
      margin: 0;
      font-size: 1.6rem;
    }
    .margin-bottom {
      margin-bottom: 3rem;
    }

    .box-border {
      display: inline-block;
      border: .1rem solid #d838a4;
      width: 3.6rem;
      height: 3.6rem;
      .num-box {
        text-align: center;
        margin: 0.1rem;
        color: #fff;
        background: @pink-color;
        font-size: 2.0rem;
        line-height: 3.2rem;
      }
    }
  }
}
