@import "common";

#ourwork-assistance {
  .save-life-situation {
    padding-bottom: 5rem;
    padding-top: 4rem;
    background-size: cover;
    background: #f6f6f6;
    text-align: center;
  }

  .rescue-situation-img {
    text-align: center;
    img {
      margin: 2.0rem;
    }
  }

  .fact-situation {
    text-align: center;
    margin-top:5rem;
    h2 {
      font-size: @title-font;
      line-height: 5.6rem;
      margin-bottom: 2.0rem;
      color: @pink-color;
    }
  }

  .fact-situation p, .fact-situation span {
    font-size: 2rem;
    line-height: 3.2rem;
    margin: .0rem;
  }

  .fact-situation span {
    color: @pink-color;
  }

  .fact-situation-graph {
    img {
      display: block;
      margin: 0 auto;
      margin-top: 5.0rem;
    }
    div {
      margin: 0 auto;
      margin-top: 5.0rem;
      width: 22.5rem;
      text-align: center;
      line-height: 5.2rem;
      color: #fff;
      background-color: @pink-color;
      margin-bottom:11rem;
    }
  }

  /*---------------------maxPicture--------------------------*/
  .ourWorkAssistence-picture-text {
    position: absolute;
    right: 7.2rem;
    top: 18.0rem;
    font-size: 2rem;
    line-height: 2.8rem;
    color: #fff;
    width: 42.5rem;

    p {
      margin: 0;
    }

    div {
      margin-top: 2.7rem;
      background-color: @pink-color;
      width: 65%;
      height: 4.2rem;
      border-radius: .4rem;
      font-size: 2rem;
      text-align: center;
      line-height: 4.2rem;
    }
  }

  .ourWorkAssistence-picture-readMore {
    display: block;
    height: 9.5rem;
    text-align: right;
    padding-right:3rem;
    line-height: 9.5rem;
    font-size:2rem;
    color: @pink-color;
  }

  .I-want-donate {
    background: @pink-color;
    font-size: 2rem;
    color: #ffffff;
    background: #ec4c9a;
    line-height: 4rem;
    border: none;
  }

  .picture-max .read-more {
    &:hover {
      color: @pink-color;
      text-decoration: none;
    }
  }

  .ourWorkAssistence-picture-btn .story {
    color: white;
    text-decoration: none;
  }
}
