@import "common";

#ourwork {
  .middle-text {
    margin-top: 5.7rem;
    margin-bottom: 6.5rem;
  }

  .control {
    position: absolute;
    left: 45%;
    top: 35%;
    text-align: center;
  }

  .job-icons a {
    font-size: 1.5rem;
    color: @black-color;
    white-space: nowrap;
    margin-top: 1.5rem;
    margin-bottom: 0;
    text-decoration: none;
    outline: none;
    &:hover {
      color: @pink-color;
      outline: none;
      text-decoration: none;
    }
  }

  .icons-margin-bottom {
    margin-bottom: 6.5rem;
    margin-top: -2rem;
  }
  .icon-bottom {
    padding-bottom: 3.5rem;
  }
  .ourwork-title {
    margin-top: 56px;
    margin-bottom: 35px;
    text-align: center;
    .title {
      color: #ec4c9a;
      font-size: 48px
    }
  }

  .describe {
    text-align: center;
    font-size: 22px;
    margin-bottom: 91px;
  }
  .video {
    background: #F0F0F0;
    //width: 100%
  }
}

//  #ourwork .ourwork-title {
//    margin-top: 56px;
//    margin-bottom: 35px;
//    text-align: center;
//  }
//
//  #ourwork .ourwork-title .title {
//    color: #ec4c9a;
//    font-size: 48px
//  }
//
//  #ourwork .describe {
//    text-align: center;
//    font-size: 22px;
//    margin-bottom: 91px;
//  }
//
//  #ourwork .video {
//    background: #F0F0F0;
//    width: 100%
//  }
//}
//
