.breadcrumb > li + li:before {
    position: relative;
    font-family: FontAwesome;
    font-size: 14px;
    content: "\f105";
    color: #B2B6BF;
    padding: 0;
    margin: 0 8px 0 0;
    top: 1px;
}

.breadcrumb > li {
    margin: 0 3px;
}

.Leukemia-rescue-image {
    position: relative;
    padding: 0;

    border: 1px solid red;
    top: -16px;
    margin: 0px;
    height: 420px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.patient-profile {
    position: relative;
    float: right;
    right: 10%;
    top: 50%;
    font-weight: lighter;
    line-height: inherit;
    font-size: 22px;
    color: #FFFFFF;
}

.patient-profile p {
    word-spacing: -7px;
    line-height: 30px;
}

.child-story-btn {
    position: relative;
    float: right;
    top: 85%;
    left: 11%;
    width: 276px;
    height: 42px;
    color: #ffffff;
    background: #ec4c9a;
    border: 0;
    border-radius: 5px;
    font-size: 22px;
    line-height: 42px;
}

.more-story {
    position: relative;
    float: right;
    outline: none;
    border: 0;
    background: none;
    margin: 40px 50px;

}

.save-life-situation {
    margin: 100px 0;
    margin-top: 0;
    height: 560px;
    width: 100%;
    background-size: cover;
    background: #f6f6f6;
    text-align: center;
}

.save-life-situation h2 {
    margin: 0;
    padding: 0;
    color: #ed6cab;
    font-size: 48px;
    line-height: 56px;
    padding: 3%;
}

.Rescue-situation-img {
    text-align: center;
}

.Rescue-situation-img img {
    margin: 40px;
}

.participate-rescue {
    width: 226px;
    height: 52px;
    color: #ffffff;
    background: #ec4c9a;
    border: 0;
    border-radius: 4px;
    font-size: 22px;
    line-height: 52px;
}

.fact-situation {
    text-align: center;
}

.fact-situation h2 {
    font-size: 48px;
    line-height: 56px;
    margin-bottom: 20px;
    color: #ec4c9a;
}

.fact-situation p, .fact-situation span {
    font-size: 22px;
    line-height: 32px;
    margin: 0px;
}

.fact-situation span {
    color: #ec4c9a;
}

.fact-situation-graph img {
    display: block;
    margin: 0 auto;
    margin-top: 50px;
}

.fact-situation-graph div {
    margin: 0 auto;
    margin-top: 50px;
    width: 225px;
    text-align: center;
    line-height: 52px;
    color: #fff;
    background-color: #ec4c9a;
}

/*---------------------maxPicture--------------------------*/
.ourWorkAssistence-picture-text {
    position: absolute;
    right: 72px;
    top: 180px;
    font-size: 22px;
    line-height: 28px;
    color: #fff;
    width: 425px;
}

.ourWorkAssistence-picture-text p {
    margin: 0;
}

.ourWorkAssistence-picture-text div {
    margin-top: 27px;
    background-color: #ec4c9a;
    width: 65%;
    height: 42px;
    border-radius: 4px;
    font-size: 22px;
    text-align: center;
    line-height: 42px;
}

.ourWorkAssistence-picture-readMore {
    height: 95px;
    text-align: right;
    padding-right: 72px;
    line-height: 95px;
    color: #ec4c9a;
}

.I-want-donate {
    width: 226px;
    height: 52px;
    color: #ffffff;
    background: #ec4c9a;
    border: 0;
    padding: 0;
    border-radius: 0;
    font-size: 22px;
    line-height: 52px;
}

.picture-max .read-more :hover {
    color: #ec4c9a;
    text-decoration: none;
}

.ourWorkAssistence-picture-btn .story {
    color: white;
    text-decoration: none;
}
