@import "common";

#ourwork {
  .middle-text {
    margin-top: 5.7rem;
    margin-bottom: 6.5rem;
  }

  .control {
    position: absolute;
    left: 45%;
    top: 35%;
    text-align: center;
  }

  .job-icons a {
    font-size: 1.5rem;
    color: @black-color;
    white-space: nowrap;
    margin-top: 1.5rem;
    margin-bottom: 0;
    text-decoration: none;
    outline: none;
    &:hover {
      color: @pink-color;
      outline: none;
      text-decoration: none;
    }
  }

  .icons-margin-bottom{
    margin-bottom:2.5rem;
    margin-top:2rem;
  }
}

