#partners {
  .content-on-picture {
    position: absolute;
    top: 10rem;
    right: 5rem;
    color: #FFFFFF;
    width: 55rem;
    .title {
      font-size: 3rem;
    }
    .statement {
      margin-top: 5rem;
      font-size: 2rem;
    }
    .read-more {
      background-color: @pink-color;
      outline: none;
      width: 14rem;
      display: inline-block;
      border: none;
      height: 3rem;
      border-radius: 0.4rem;
    }
  }

  .main-content {
    .more-stories {
      padding: 2.5rem;
      a {
        display: inline-block;
        color: @pink-color;
        text-decoration: none;
        font-size: 2rem;
      }
    }
    .same-family {
      background-color: #F8F9FB;
      .partners-logo {
        .image-border {
          border: 1px #E1E1E1 solid;
        }
        .second-row {
          margin-top: 4rem;
        }
      }
    }
  }
}
