@import "common";

#get-involved-volunteer {
  .involved-volunteer {
    color: #575757;
    font-size: 2rem;
    line-height: 3.0rem;
    max-width: 95.0rem;
    padding: 0 1.5rem;
    margin-bottom: 6.2rem;
  }
  .involved-volunteer-join {
    background-color: #f8f9fb;
    padding-bottom: 6.0rem;
    padding-top: 2.9rem;
    h2 {
      margin-top: 0;
    }
    button {
      width: 33rem;
      height: 5rem;
      line-height: 5.2rem;
      font-size: 2rem;
      display: block;
      text-align: center;
      color: #fff;
      border-radius: .4rem;
      background-color: #ec4c9a;
      margin: 0 auto;
      margin-top: 4.1rem;
    }
  }
  .volunteer-countries {
    .countries-quantity {
      font-size: 6rem;
    }
  }
  .volunteer-stories {
    .story-item {
      margin-bottom: 5.5rem;
      p {
        margin: 1.5rem 0 14px 0;
        font-size: 2rem;
      }
      a {
        color: @pink-color;
        outline: none;
        text-decoration: none;
        font-size: 2rem;
      }
      .story-picture {
        width: 62%;
      }
    }
  }
}
