#get-involved-volunteer {
  .involved-volunteer {
    color: #575757;
    font-size: 22px;
    line-height: 30px;
    max-width: 950px;
    padding: 0 15px;
    margin-bottom: 62px;
  }

  .involved_volunteer h2 {
    margin-bottom: 31px;
  }

  .involved-volunteer-join {
    background-color: #f8f9fb;
    padding-bottom: 60px;
    padding-top: 29px;
    h2 {
      margin-top: 0;
    }
    button {
      width: 362px;
      height: 52px;
      line-height: 52px;
      font-size: 22px;
      display: block;
      text-align: center;
      color: #fff;
      border-radius: 4px;
      background-color: #ec4c9a;
      margin: 0 auto;
      margin-top: 41px;
    }
  }

}
